<a href="https://colab.research.google.com/github/malakalmarshad/malakalmarshad/blob/main/ReadCSVand_countRows.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
%cd sample_data/

/content/sample_data

In [16]:
from google.colab import files
uploaded = files.upload()

Saving ABD.csv to ABD.csv

In [21]:
!pip install -q xlrd

import pandas 
df = pandas.read_csv('ABD.csv')
df

         10:23:38 PM  4:38:23 AM
0                  0         NaN
1                  0         NaN
2                  0         NaN
3                  0         NaN
4                  0         NaN
...              ...         ...
4496995           -4         NaN
4496996           -4         NaN
4496997           -4         NaN
4496998           -4         NaN
4496999           -4         NaN

[4497000 rows x 2 columns]

Warning: total number of rows (4497000) exceeds max_rows (20000). Limiting to first (20000) rows.

In [22]:
row_count = sum(1 for row in df)  # fileObject is your csv.reader

In [24]:
print(row_count)

2

In [29]:
import csv
with open('ABD.csv') as f:
    csv_reader = csv.reader(f)
    for row in csv_reader:
        pass
    print(csv_reader.line_num)

4497001

In [30]:
from google.colab import files
uploaded = files.upload()

Saving C3M2.csv to C3M2.csv

In [31]:
!pip install -q xlrd

import pandas 
df1 = pandas.read_csv('C3M2.csv')
df1

          10:23:38 PM  4:38:23 AM
0                   0         NaN
1                   0         NaN
2                   0         NaN
3                   0         NaN
4                   0         NaN
...               ...         ...
11242495         -173         NaN
11242496         -313         NaN
11242497         -313         NaN
11242498         -172         NaN
11242499          -88         NaN

[11242500 rows x 2 columns]

Warning: total number of rows (11242500) exceeds max_rows (20000). Limiting to first (20000) rows.
Warning: total number of rows (11242500) exceeds max_rows (20000). Limiting to first (20000) rows.

In [35]:
import csv
with open('C3M2.csv') as f1:
    csv_reader1 = csv.reader(f1)
    for row1 in csv_reader1:
        pass
    print(csv_reader1.line_num)

11242501